@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  background: url("Images/illustration-contact-form.svg") right 6215px no-repeat;
}

h1 {
  font-size: 2.5rem;
  color: #172b4d;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2 {
  font-size: 2.5rem;
  color: #172b4d;
}

p {
  color: #42526e;
  font-size: 1.25rem;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  margin: 0 24px;
}

a {
  text-decoration: none;
}

.green-line {
  border: 2px solid #36b37e;
  width: 50px;
  margin: 24px auto 60px;
  border-radius: 24px;
}

.black-line {
  margin: 0 auto;
  width: 134px;
  border: 2.5px solid #0d151e;
  margin-bottom: 8px;
  margin-top: 300px;
  border-radius: 24px;
}

.menu {
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 24px;
  color: #28352f;
}

ul {
  list-style: none;
}

nav ul {
  display: none;
}

main {
  background: url("Images/header-illsutration-mobile@2x.png") 0 0 no-repeat;
  background-size: contain;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  text-align: center;
  margin: 64px 24px 0;
  height: 192px;
  line-height: 52px;
}

.headline p {
  line-height: 28px;
  margin: 58px 24px 0;
  color: #172b4d;
}

.headline-p-desktop {
  display: none;
}

.about-p-desktop {
  display: none;
}

.green-intro-text {
  color: #36b37e;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0 64px;
}

.socials img {
  margin: 10px;
  height: 20px;
  width: 20px;
}

.socials li {
  border-radius: 50%;
}

.socials li:hover {
  background-color: #60c095;
}

.socials a:focus {
  background-color: #60c095;
}

.desktop-menu:hover {
  border: 2px solid salmon;
  border-radius: 5px;
}

.desktop-menu a:focus {
  color: salmon;
}

.arrow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #dfe1e6;
  background-color: white;
  margin-bottom: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-works {
  margin-top: -114px;
}

.recent-works h2 {
  text-align: center;
  margin: 64px 26px 0;
}

.card {
  display: grid;
  grid-template: repeat(6, 474px) / 1fr 327px 1fr;
  row-gap: 24px;
  align-items: center;
  justify-items: center;
  margin-bottom: 45px;
}

.grid-item-1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.grid-item-2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.grid-item-3 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.grid-item-4 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.grid-item-5 {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

.grid-item-6 {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}

.img-holder {
  width: 327px;
  height: 474px;
  background-color: #ebf0ee;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
}

.text {
  width: 100%;
  height: 45%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab {
  font-size: 12px;
  margin: 10px;
  font-weight: 500;
}

.white .tab {
  font-weight: 600;
}

.but {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  background-color: #ebf0ee;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}

.topic {
  margin: 16px;
  font-weight: 600;
  font-size: 1.5rem;
}

.see {
  background-color: #36b37f;
  padding: 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.05rem;
  margin-top: 24px;
  transition: font-size 1s;
}

.center {
  text-align: center;
  margin: 0 12px 24px;
}

.cont {
  position: relative;
  height: 50px;
  margin-bottom: 60px;
}

.center-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lang {
  width: 327px;
  height: 352px;
  margin: 0 auto 24px;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  margin: 40px 0 64px;
  display: flex;
  justify-content: center;
}

.but2 {
  height: 40px;
  display: flex;
  background-color: white;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
  color: #36b37e;
}

form {
  width: 327px;
  margin: 58px auto 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

input,
textarea {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

textarea {
  border: 1px solid #60c095;
  height: 116px;
  padding: 12px;
}

textarea.desktop {
  display: none;
}

::-webkit-resizer {
  background: url("Images/Union.svg") no-repeat;
}

input::placeholder {
  color: #6b778c;
}

textarea::placeholder {
  color: #091e42;
}

.submit {
  margin-top: 0;
}

.about {
  background: url("Images/Frame.svg") left 310px no-repeat, url("Images/Mask Group.svg") right -40px no-repeat;
  border: 1px solid white;
}

.about h2 {
  margin-top: 30px;
}

.contact {
  margin-top: 0;
}

.contact h2 {
  margin: 36px 24px 0;
  line-height: 52px;
}

.contact .socials {
  margin: 0;
}

.about p {
  line-height: 32px;
  margin-bottom: 24px;
}

.circle img {
  width: 44px;
}

.see:hover {
  background-color: #1e488f;
  font-size: 1.2rem;
}

.see:focus {
  background-color: #1e488f;
  font-size: 1.2rem;
}

.see:active {
  background-color: #dd5153;
  font-size: 1.2rem;
}

@media all and (min-width: 768px) {
  .non-desktop {
    display: none;
  }

  h1 {
    font-size: 48px;
    color: #172b4d;
  }

  nav ul {
    list-style: none;
    display: flex;
    width: 100vw;
    height: 72px;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  nav li a {
    color: #344563;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
  }

  main {
    background: none;
  }

  body {
    background: url("Images/Header-llustration-desktop.svg") 100% 0 no-repeat, url("Images/illustration-about-me-2-desktop@2x.svg") left 2420px no-repeat, url("Images/illustration about me desktop.svg") right 2230px no-repeat, url("Images/Contact Right Frame.svg") right 3128px no-repeat, url("Images/Contact Left Frame.svg") left 3265px no-repeat, url("Images/middle illustration-2-contact-form-desktop.svg") left 274px top 3430px no-repeat;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
  }

  .headline {
    width: 920px;
    height: 756px;
    margin: 24px auto 234px;
    position: relative;
  }

  .intro {
    text-align: center;
    margin: 160px 0 24px;
    line-height: 60px;
    letter-spacing: 0.37px;
    font-weight: 800;
    width: 100%;
    height: auto;
  }

  span.first::after {
    content: ".";
  }

  .headline p {
    line-height: 32px;
    margin: 0;
    color: #172b4d;
    width: 100%;
  }

  .headline-p-desktop {
    display: inline-block;
  }

  .headline-p-mobile {
    display: none;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 74px;
  }

  .twitter {
    order: 3;
  }

  .linkedin {
    order: 1;
  }

  .medium {
    order: 4;
  }

  .github {
    order: 0;
  }

  .angellist {
    order: 2;
  }

  .recent-works {
    margin-top: 0;
  }

  .card {
    display: grid;
    grid-template: repeat(2, 474px) / repeat(3, 369px);
    gap: 32px 24px;
    justify-content: center;
    margin-bottom: 162px;
  }

  .grid-item-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }

  .grid-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .grid-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .grid-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .grid-item-5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .grid-item-6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  .recent-works h2 {
    margin: 80px auto 52px;
  }

  .about {
    background: none;
  }

  .about h2 {
    margin-top: 30px;
  }

  .about p {
    width: 920px;
    line-height: 32px;
    margin: 24px auto;
  }

  .about-p-desktop {
    display: block;
  }

  .about-p-mobile {
    display: none;
  }

  .about2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: -8px;
  }

  .lang {
    width: 369px;
    height: 352px;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .recent-works-card {
    width: 369px;
  }

  .desktop-contact {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 80px 0;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact h2 {
    width: 463px;
    margin: auto;
    line-height: 52px;
    font-size: 30px;
    text-align: left;
  }

  .contact-h2 {
    width: 463px;
    height: 256px;
    display: flex;
    align-items: center;
  }

  form {
    width: 684px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  textarea.mobile {
    display: none;
  }

  textarea.desktop {
    display: block;
  }

  .contact .socials {
    width: 100%;
    margin: 0 auto 16px;
    order: 1;
  }

  .black-line {
    margin: 145px auto 15px;
    width: 100%;
    border: 0.5px solid #dfe1e6;
  }
}
