@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2rem;
  color: #172b4d;
}

h2 {
  font-size: 2rem;
  color: #172b4d;
}

p {
  color: #172b4d;
  font-size: 1.2rem;
}

hr {
  border: 1px solid #36b37e;
  width: 50px;
  margin-top: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.socials img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.menu {
  margin: 24px;
  color: black;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 24px;
  color: #28352f;
}

.nav ul {
  display: none;
}

main {
  background: white url("Images/header-illsutration-mobile@2x.png") 0 0 no-repeat;
  background-size: contain;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline .item {
  margin: 60px 24px 0;
  text-align: center;
}

.green {
  color: #36b37e;
}

.socials {
  display: flex;
  align-items: center;
}

.arrow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #dfe1e6;
  background-color: white;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 768px) {
  .nav {
    width: 100%;
  }

  .nav ul {
    list-style: none;
    border: 1px solid black;
    display: flex;
    width: 500px;
    justify-content: center;
  }

  .miss-desktop {
    display: none;
  }
}
